main {
  padding-top: 120px;
}

aside#sidebar {
  display: flex;
  position: fixed;
  padding-top: 100px;
  transform: translate(-100%, 0);
  background-color: #fff;
  width: 75%;
  height: 100%;
  transition: transform 0.5s;
}

html.open {
  overflow: hidden;

  aside#sidebar{
    transform: translate(0, 0);
  }
}