aside#sidebar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s cubic-bezier(0.4, 0, 0, 1);
  top: 0;
  left: 0;

  .open {
    display: block;
    background-color: #fff;
    position: fixed;
  }
}
