html, body {
  height: 100%; }

body {
  min-width: 700px;
  background-color: #b7b7b7;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

.danger {
  background-color: #e0a5ab;
  border: 1px solid #ed0000;
  color: #ed0000; }
  .danger ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left; }
    .danger ul li {
      padding: 5px; }

a {
  color: #ee6300; }

.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.center {
  text-align: center; }

#left {
  width: 250px;
  float: left;
  height: 100%;
  background-color: #303030;
  border-right: 1px solid #343434; }

#user {
  background-color: #303030;
  color: #fff;
  padding: 15px;
  height: 100px; }
  #user img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    float: left; }
  #user #user__body {
    float: left;
    display: block;
    margin-left: 20px;
    height: 70px;
    width: 50%; }
    #user #user__body #user__username {
      font-size: 19px;
      margin-bottom: 8px;
      display: block; }
    #user #user__body ul {
      margin: 0;
      padding: 0;
      list-style: none; }

#menu {
  background-color: #303030;
  color: #fff; }

#menu,
#menu ul,
#menu li,
#menu a {
  padding: 0;
  margin: 0;
  color: #f4f4f4; }

#menu,
#menu ul {
  list-style: none; }

#menu li,
#menu a {
  position: relative;
  display: block; }

#menu a,
#menu a:hover,
#menu a:focus,
#menu a:active {
  text-decoration: none; }

#menu ul {
  background: rgba(0, 0, 0, 0.3); }

#menu > li > a {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  padding: 10px 0 10px 15px; }

#menu > li.active > a {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; }

#menu > li:hover > a,
#menu > li:focus > a {
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  box-shadow: none; }

#menu > li ul {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  border-left-width: 0; }

#menu > li ul a {
  padding: 11px 0 11px 30px;
  font-size: 13px; }

#menu > li ul a:hover {
  background-color: rgba(0, 0, 0, 0.1); }

#menu.affix {
  position: fixed;
  width: 250px;
  overflow-x: hidden;
  overflow-y: hidden; }

#menu.affix:hover {
  overflow-y: scroll; }

#menu li > ul {
  position: absolute;
  top: 0;
  left: 100%;
  box-shadow: none;
  min-width: 200px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8); }

#menu:not(.affix) li > ul,
.sidebar-left-mini #menu:not(.affix) li > ul {
  display: none; }

#menu li > ul > li > ul {
  top: 0; }

.side-right #menu li > ul {
  left: auto;
  right: 100%; }

#menu:not(.affix) li:hover > ul {
  display: inherit;
  visibility: visible; }

#menu .nav-divider {
  height: 1rem;
  margin: 0;
  background: rgba(0, 0, 0, 0.2); }

#menu .fa.arrow {
  float: right;
  padding-top: 3px;
  margin-right: 15px; }

#menu .fa.arrow:before {
  content: "\f104"; }

#menu .active > a > .fa.arrow:before {
  content: "\f107"; }

#right {
  width: auto;
  overflow-y: scroll;
  background-color: #242424;
  border-left: 1px solid #515151;
  height: 100%;
  color: #eee; }

#right__wrapper {
  padding: 20px; }

table {
  border: 1px solid #ddd;
  width: 100%;
  min-width: 100%; }
  table tr th, table tr td {
    padding: 8px; }
  table tr th {
    border: 1px solid #ddd; }

input[type='text'], input[type='email'], input[type='password'], input[type='date'], textarea, select {
  border: 1px solid #ee6300;
  background-color: #121212;
  outline: none;
  color: #c1c1c1;
  padding: 4px;
  width: 100%;
  box-sizing: border-box; }

input[type='button']:not(.table__delete), input[type='submit']:not(.table__delete) {
  text-align: center;
  display: block;
  border: 1px solid #ee6300;
  background-color: #121212;
  padding: 10px;
  cursor: pointer;
  color: #c1c1c1;
  outline: none;
  font-size: 16px; }

label {
  color: #c1c1c1;
  margin-bottom: 2px;
  display: block; }

.form-group {
  margin-bottom: 20px; }

#search {
  padding: 9px;
  margin-bottom: 20px; }

html {
  position: relative;
  min-height: 100%; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 38px;
  margin: 0 auto;
  color: #f4f4f4;
  border-top: 1px solid #222;
  background-color: #444;
  line-height: 38px; }
  footer p {
    margin: 0;
    text-align: center; }

/*# sourceMappingURL=user.css.map */
