$color-white: #fff;
$color-lighter: #e9e9e9;
$color-light: #ddd;
$color-dark: #535353;
$color-darker: #333;
$color-darkest: #282828;

$color-primary: #12a4dc;
$color-danger: #c93703;
$color-accept: #05c436;