input[type='text'], input[type='email'], input[type='password'], textarea, select{
  border: 1px solid $third-color;
  background-color: $first-color;
  outline: none;
  color: $text-color;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

input[type='button']:not(.table__delete), input[type='submit']:not(.table__delete){
  text-align: center;
  display: block;
  border: 1px solid $third-color;
  background-color: $first-color;
  padding: 10px;
  cursor: pointer;
  color: $text-color;
  outline: none;
  font-size: 16px;
}

label{
  color: $text-color;
  margin-bottom: 2px;
  display: block;
}

.form-group{
  margin-bottom: 20px;
}

#search{
  padding: 9px;
  margin-bottom: 20px;
}