// Colors
$detail-color: #ff8f34;
$main-text: #121212;
$light-gray: #7f8c8d;

* {
  font-family: sans-serif;
  margin: 0;

  outline: none;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

aside {
  @include flex-basis(15%);
  min-width: 200px;
  background-color: #535353;
  border-right: 1px solid #0e0e0e;
}

main {
  @include flex-basis(85%);
  display: flex;
  flex-direction: column;
  background-color: $color-darkest;
  border-left: 1px solid darken($color-dark, 10%);
}

.container {
  padding: 1rem;
}

.block-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem;
}