aside {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid $color-darker;
      border-top: 1px solid lighten($color-darker, 10%);

      &.delimiter {
        height: 0.1rem;
        background-color: darken($color-dark, 10%);
      }

      &.block-user {
        padding: 1.5rem;
        border-bottom: 1px solid $color-darker;
      }

      a {
        display: block;
        padding: 0.5rem 1.5rem;
        color: $color-light;
        font-size: 1rem;
        height: 27px;
        line-height: 27px;
        text-decoration: none;

        i.fa {
          font-size: 0.9rem;
          margin-right: 10px;
        }

        &:hover {
          background-color: darken($color-dark, 5%);
        }

        &.active {
          background-color: darken($color-dark, 10%);
        }
      }

      ul {
        li {
          padding-left: 30px;

          a {
            color: $light-gray;
            font-size: 14px;
            height: 23px;
            line-height: 23px;
          }
        }
      }
    }
  }
}
