table {
  border-spacing: 0;
  min-width: 100%;
  width: 100%;

  tr {
    th,
    td {
      color: $color-light;
      padding: 8px 12px;
      border-bottom: 1px solid darken($color-dark, 10%);
      border-top: 1px solid darken($color-dark, 20%);

      &.center {
        text-align: center;
      }
    }

    th {
      border-bottom: 2px solid $color-dark;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    td {
      &.action {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .show, .delete {
          padding: 7px;
          color: $color-white;
          text-decoration: none;
          border: none;
          cursor: pointer;
          font-size: 0.9rem;
        }

        .show {
          background-color: $color-primary;

          &:hover {
            background-color: darken($color-primary, 10%);
          }
        }

        .delete {
          background-color: $color-danger;

          &:hover {
            background-color: darken($color-danger, 10%);
          }
        }
      }
    }

    &:hover {
      td {
        background-color: darken($color-dark, 20%);
      }
    }
  }
}
