.article-logo {
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
}

.article {
  h1 {
    margin-bottom: 10px;
  }
}

.article-body {
  img {
    display: block;
    border: 1px solid #333;
    max-width: 100%;
    height: auto;
  }
}

.article-author, .article-date{
  display: inline-block;
  font-size: 14px;
  color: $light-gray;
  margin-bottom: 10px;
}