.h1, .h2, h1, h2{
  display: block;
  font-weight: 600;
}

.h1, h1{
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 30px;
}

.h2, h2{
  margin-top: 4px;
  margin-bottom: 18px;
  font-size: 22px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.callout {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid $light-gray;
  border-left-width: 5px;

  .h3{
    color: $main-text;
    font-weight: bold;
  }
}

.callout-info {
  border-left-color: #1b809e;
}

.callout-danger {
  border-left-color: #ce4844;
}

.page-description {
  margin-bottom: 40px;
  line-height: 23px;
}