.h1, .h2, h1, h2{
  display: block;
  font-weight: 600;
}

.h1, h1{
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 30px;
}

.h2, h2{
  margin-top: 4px;
  margin-bottom: 18px;
  font-size: 22px;
}

.fix{
  position: fixed !important;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}