#image-holder{
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  display: block;
  overflow: hidden;
  z-index: 8010;
  background-color: rgba(0, 0, 0, 0.5);

  img{
    border: none;
    margin: auto;
    display: block;
    left: 50%;
    top: 50%;
    position: absolute;
    box-shadow: 0 0 15px 5px rgba(0,0,0,.75);
  }
}