// Colors
$detail-color: #ff8f34;
$main-text: #121212;
$light-gray: #7f8c8d;

*{
  color: #333;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  position: relative;
  flex-flow: row;
  flex: 1;
  padding-top: 30px;
}

aside#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 60px;
  padding: 30px 0;
  width: 220px;
  margin-right: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

aside#content {
  display: flex;
  padding-right: 60px;
  padding-left: 330px;
  height: 100vh;
  flex-direction: column;
}