// Colors
$detail-color: #ff8f34;
$main-text: #121212;
$light-gray: #7f8c8d;

*{
  color: #333;
}

div#wrapper {
  display: flex;
  flex-direction: row;
}

aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 $sidebar-width;
  padding: $padding-vertical $padding-horizontal;
}

main {
  display: flex;
  flex-direction: column;
  flex: 10;
  padding: $padding-vertical $padding-horizontal;
}