.breadcrumbs{
  list-style: none;
  margin: 0 0 30px;
  display: block;

  li{
    float: left;
    font-size: 16px;

    a span{
      color: $first-color;
      font-weight: normal;

      &:hover{
        text-decoration: underline;
      }
    }

    .divider{
      padding: 0 5px;
      color: $second-text-color;
    }

    span{
      color: $first-color;
      font-weight: bold;
    }
  }
}