.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

#right-side{
  float: left;
  width: 25%;
}

#left-side{
  float: left;
  width: 73%;
  padding-right: 10px;
}

.h1, .h2, .h3{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: block;
  color: $third-color;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 12px 0;
  color: $second-text-color;
}

.h1{
  font-size: 26px;
  line-height: 28px;
  margin-bottom: 12px;
}

.h2{
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 12px;
}

.h3{
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 8px;
}

.clear:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.pull-right{
  float: right;
}

.callout {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid $text-color;
  background-color: $first-color;
  border-left-width: 5px;
}

.callout-info {
  border-left-color: #1b809e;
}

.callout-danger {
  border-left-color: #ce4844;
}

@media screen and (max-width: $tablet-size){
  #right-side, #left-side{
    width: 100%;
  }
}