.page-header{
  border-bottom: 1px solid $third-color;
  margin-bottom: 10px;
}

.page-description{
  font-family: Georgia,"Times New Roman",Times,serif;
  color: $text-color;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}

.date{
  font-family: Georgia,"Times New Roman",Times,serif;
  color: $text-color;
  display: block;
  font-size: 12px;
}

.category_article{
  margin-bottom: 20px;
}

.category-count{
  float: right;
  width: 20px;
  text-align: center;
  background-color: $third-color;
  font-size: 13px;
  font-weight: bold;
  color: $first-color;
}

.article-logo{
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
}