$first-color: #242424;
$second-color: #2a2a2a;
$third-color: #d55800;
$main-text-color: #2590ff;
$text-color: #a5a5a5;
$second-text-color: #b7b7b7;
$danger-text: #ed0000;
$danger-main: #e0a5ab;
$danger-second: #b50000;

$tablet-size: 766px;
$mobile-size: 441px;

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: $main-text-color;
  text-decoration: none;
  
  &:hover{
    text-decoration: underline;
  }
}

p {
  padding-top: 8px;
  padding-bottom: 8px;
}

html, body {
  height: 100%;
}

body {
  color: $first-color;
}

code{
  border: 1px solid $second-color;
  background-color: #f2f2f2;
  color: $first-color;
  padding-left: 3px;
  padding-right: 3px;
}