pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  color: #333;
  display: block;
  margin: 0 0 30px 0;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
}

pre.prettyprint {
  margin-bottom: 20px;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

.com {
  color: #999;
}

.lit {
  color: #195f91;
}

.pun, .opn, .clo {
  color: #93a1a1;
}

.fun {
  color: #dc322f;
}

.str, .atv {
  color: #D44950;
}

.kwd, .prettyprint .tag {
  color: #2F6F9F;
}

.typ, .atn, .dec, .var {
  color: #4F9FCF;
}

.pln {
  color: $second-text-color;
}

.prettyprint {
  padding: 10px 15px;
  background-color: $first-color;
  border: 1px solid $third-color;
}
