.spoiler{
  &:before{
    display: block;
    float: left;
    background: url(/public/images/common/spoiler.png) left top no-repeat;
    width: 16px;
    height: 16px;
    content: ' ';
  }

  .spoiler_head{
    user-select: none;
    color: $main-text-color;
    text-decoration: underline;
    cursor: pointer;
  }

  .spoiler_body{
    margin-top: 5px;
    margin-bottom: 10px;
    display: none;
    border: 1px solid $second-color;
    padding: 5px;
  }

  &.spoiler-open{
    .spoiler_body{
      display: block;
    }

    &:before{
      background: url(/public/images/common/spoiler.png) left bottom no-repeat;
    }
  }
}