.tags{
  list-style: none;

  li{
    float: left;
    text-decoration: underline dotted red;

    &:not(:last-child){
      margin-right: 5px;
    }

    a{
      color: $first-color;
      font-weight: bold;
      display: block;
    }
  }
}

#tags-list{
    a{
      color: $text-color;
      text-decoration: underline;
      display: inline-block;
      margin-right: 3px;
      margin-top: 3px;
    }
}